 *{
  text-align: center;
 }
.text {
  color: #AC7B7B;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
h1 {
  margin: 0;
  padding: 0;
  color: #87655E;
  font-size: 100px;
  font-weight: bold;
}
